@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@200;300;400;500;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg: #232427;
}


* {
  font-family: 'Turret Road', sans-serif;
  font-weight: 600;
  color: white;
}

nav a{
  margin-left: 30px;
  font-weight: 400;
  color: rgba(190, 198, 251, 0.47);
}

.inner{
  background: linear-gradient(180deg, #FF906C, transparent);
  border-radius: 50%;
  position: relative;
}

.inner::after{
  content: '';
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--bg);
  border-radius: 50%;
  width: 90%;
  height: 90%;
  z-index: 1;
}

.inner .mainImage{
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -2%;
}

.inner .python{
  left: 50%;
  transform: translateX(-50%);
}